* {
  font-family: Arial, Helvetica, sans-serif;
  
}
html {
  height: 100%;
  background: linear-gradient(45deg, #f3e4d9, #d3e7f0);
}
.wrapper {
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 2rem;
}

.row {
  border: 1px solid black;
  height: 2.3rem;
  background-color:white;
}

.col {
  z-index: 10;
  width: 25%;
}

.about span {
  display: flex;
  justify-content: center;
}

.label {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;


}

.toggled {
  color: rgb(47, 144, 241);
}

.trigger {
  cursor: pointer;
  position: relative;
  font-size: 13px;
  font-weight: 700;
}

.lines {
  width: 100%;
  margin-top: 1.12rem;
  z-index: 2;
  position: absolute;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0);
  height: 2.3rem;
}

.modal-inner {
  height: 12rem;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.modal {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  background: rgb(245,245,245) linear-gradient(#f8f0f0, #e6ebf3);
  border-radius: 2px;
  top: 7rem;
  position: absolute;
  z-index: 100000;
  display: none;
}

.modal input {
  height: 1.2rem;
  border: 1px solid black;
  border-radius: 2px;
}

button {
  margin: 0 auto;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(20, 20, 20, 0.217);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#fafafa, #fafafa);
  height: 1.5rem;
  width: 4rem;
}

.modal-win {
  margin-bottom: 1rem;
}

.modal-close {
  width: 10px;
  margin-left: 95%;
}



.btns {
  position: absolute;
  bottom: 1rem;
  z-index: 1000;
  margin: 0 5rem
}

.btn {
  margin: 0 5px;
}

.active {
    background: rgb(47, 144, 241);
}

.btn-active {
  margin: 0 auto;
  top: .5rem;
  position: absolute;
  margin-left: 4%;
}

.hide {
  display: none;
}